* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; /* Menggunakan border-box untuk menghitung total lebar dan tinggi termasuk padding dan border */
    list-style: none;
}

.profile {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    margin-top: 1%;
    margin-right: 4%;
}

.profile svg {
    width: 55px;
    height: 55px;
}